@import "reset.css";
@import "header.css";
@import "main.css";
@import "sections.css";
@import "instaFeed.css";
@import "footer.css";
@import "navigation.css";
@import "portifolio.main.css";
@import "modal-galery.css";
@import "form-contact.css";