.footer{
    background-color: rgb(24, 24, 164);
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
}

.container-footer{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.container-footer h2{
    color: yellow;
}