.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.632);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 170vh;
}

.container-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: #fff;
    border-radius: 4px;
    background-color: rgb(29, 29, 29);
    border: 1px solid #fff;
    padding: 30px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container-form form .ipt{
    width: 100%;
    height: 30px;
    border: none;
    margin: 5px 0;
    border-radius: 20px;
}

.container-form form label {
    width: 80%;
}

.container-form .ctn-checkbox{
    display: flex;
    flex-direction: column;
    
    width: 80%;
}

.container-form .ctn-checkbox .title-checkbox{
    font-size: 1.2rem;
    color: rgb(247, 158, 5);
    margin: 15px 0;
}

.container-form #submit-contact{
    width: 150px;
    height: 40px;
    background-color: rgb(255, 221, 0);
    border: none;
    border-radius: 20px;
    color: rgb(22, 22, 22);
    font-size: 16px;
    font-weight: bold;
}