.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000cf;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 119vh;
}

.container-form.contact{
    position: inherit;
    background-color: rgb(12, 12, 12);
    height: auto;
    color: white;
}

.container-form.contact .title-orcamento{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 27px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-form.contact .title-orcamento h1{
    font-size: 2.5rem;
}

.container-form.contact .title-orcamento p{
    font-size: 1.5rem;
    color: rgb(225, 225, 225);
}

.container-form.contact form{
    background-color: #000;
    border: none;
}

.container-form.contact form .ipt{
    height: 39px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.container-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: #fff;
    border-radius: 4px;
    background-color: rgb(29, 29, 29);
    border: 1px solid #fff;
    padding: 30px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container-form form .ipt{
    width: 100%;
    height: 30px;
    border: none;
    margin: 5px 0;
    border-radius: 20px;
}

.container-form form label {
    width: 80%;
}

.container-form .ctn-checkbox{
    display: flex;
    flex-direction: column;
    
    width: 80%;
}

.container-form .ctn-checkbox .title-checkbox{
    font-size: 1.2rem;
    color: rgb(247, 158, 5);
    margin: 15px 0;
}

.container-form #submit-contact{
    width: 150px;
    height: 40px;
    background-color: rgb(255, 221, 0);
    border: none;
    border-radius: 20px;
    color: rgb(22, 22, 22);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.container-form #submit-contact:hover{
    background-color: rgb(247, 158, 5);
}

#closeModal{
    background-color: #000;
    padding: 10px 12px;
    border-radius: 58%;
}

#closeModal i{
    color: #fff8f8;
    font-size: 1.3rem;
}
