.section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: url('../new-img/01-fundo-geral.png');
    height: auto;
    padding: 63px 0;
}

.section .container-content {
    gap: 3rem;
}

.container-content .content-2 p{
    color: rgb(255, 149, 36);
    text-align: center;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.section .container-content .content-3{
    display: flex;
    justify-content: center;
}

.section .container-content .content-3 img{
    width: 80%;
}